<form id="form" class="list_form" onsubmit="return false;">
    <input type="hidden" name="test">
    <input type="hidden" name="page" value="1">
    <input type="hidden" name="search" value="<%=search%>">
    <div class="search_box">
        <input type="text" name="search">
        <button id="search" class="search_button" onclick="hit_search('form', $.id('list_box'), '/notice/search');" locale="search">Search</button>
    </div>
    <div class="paging">
        <% 
            if(paging){ 
                if(paging.first){ 
        %>
            <a href="#" onclick="turning(1, $.id('list_box'), '/notice/list');" locale="first">First</a>
            <% 
                } 
                if(paging.pages){ 
                    paging.pages.forEach(item=> {
            %>
                <a href="#" onclick="turning(<%=item%>, $.id('list_box'), '/notice/list');"><%=item%></a>
            <% 
                }); 
            } 
                if(paging.last){ %>
                    <a href="#" onclick="turning(<%=paging.last%>, $.id('list_box'), '/notice/list');" locale="last">Last</a>
        <% 
                } 
            } 
        %>
    </div>
    <div class="list_group">
        <% 
        if(0 < notices.length){ 
            let i = 0;
            notices.forEach(item=> {
        %>
            <div class="list_item">
                <div class="item_left">
                    <a href="/notice/notice.html?id=<%=item.id%>"><%=item.title%></a>
                </div>
                <div class="item_right">
                    <input type="hidden" id="time<%=i%>" value="<%=item.create_time%>">
                    <input disabled class="list_time" type="text" id="time_title<%=i%>" value="">
                </div>
            </div>
        <% 
            i++;
            }); 
        }else{ 
            %>
                <div class="list_item">
                    <div>
                        <a href="/notice/notice.html">unpublished</a>
                    </div>
                    <div>
                        2023-10-10 10:10
                    </div>
                </div>
            <% 
        } 
        %>


    </div>
    <div class="paging">
        <% 
            if(paging){ 
                if(paging.first){ 
        %>
            <a href="#" onclick="turning(1, $.id('list_box'), '/notice/list');" locale="first">First</a>
            <% 
                } 
                if(paging.pages){ 
                    paging.pages.forEach(item=> {
            %>
                <a href="#" onclick="turning(<%=item%>, $.id('list_box'), '/notice/list');"><%=item%></a>
            <% 
                }); 
            } 
                if(paging.last){ %>
                    <a href="#" onclick="turning(<%=paging.last%>, $.id('list_box'), '/notice/list');" locale="last">Last</a>
        <% 
                } 
            } 
        %>
    </div>
</form>