<fieldset class="title">
    <legend><a href="/trading/sell.html">Sell</a></legend>
    <div class="channel">
        <fieldset>
            <legend><a href="/job/recruit_full.html">Full</a></legend>
            <div>
                <%
                    k = trading_sells.length;
                    for(let i=0;i<5;i++){
                        if(i < k){
                            %>
                            <div>
                                <div>
                                    <a target="_blank" href="/job/recruit_full.html?id=<%=trading_sells[i].id%>"><%=trading_sells[i].title%></a>
                                </div>
                                <div>
                                    <a href=""><%="user"%></a>
                                    2023-10-10 10:10                                
                                </div>
                            </div>
                            <%
                        }else{
                            %>
                            <div>
                                <div>
                                    <a target="_blank" href="/job/recruit_fulls.html">unpublished</a>
                                </div>
                                <div>
                                    <a href="">any</a>
                                    2023-10-10 10:10                                
                                </div>
                            </div>
                            <%
                        }
                    }
                %>
            </div>
        </fieldset>
        <fieldset>
            <legend><a href="/job/recruit_part.html">Part</a></legend>
            <div>
                <%
                    k = trading_sells.length;
                    for(let i=0;i<5;i++){
                        if(i < k){
                            %>
                            <div>
                                <div>
                                    <a target="_blank" href="/job/recruit_part.html?id=<%=trading_sells[i].id%>"><%=trading_sells[i].title%></a>
                                </div>
                                <div>
                                    <a href=""><%="user"%></a>
                                    2023-10-10 10:10                                
                                </div>
                            </div>
                            <%
                        }else{
                            %>
                            <div>
                                <div>
                                    <a target="_blank" href="/job/recruit_part.html">unpublished</a>
                                </div>
                                <div>
                                    <a href="">any</a>
                                    2023-10-10 10:10                                
                                </div>
                            </div>
                            <%
                        }
                    }
                %>
            </div>
        </fieldset>
    </div>
</fieldset>

<fieldset class="title">
    <legend><a href="/trading/buy.html">Buy</a></legend>
    <div class="channel">
        <fieldset>
            <legend><a href="/job/wanted_full.html">Full</a></legend>
            <div>
                <%
                    k = trading_buys.length;
                    for(let i=0;i<5;i++){
                        if(i < k){
                            %>
                            <div>
                                <div>
                                    <a target="_blank" href="/job/wanted_full.html?id=<%=trading_buys[i].id%>"><%=trading_buys[i].title%></a>
                                </div>
                                <div>
                                    <a href=""><%="user"%></a>
                                    2023-10-10 10:10                                
                                </div>
                            </div>
                            <%
                        }else{
                            %>
                            <div>
                                <div>
                                    <a target="_blank" href="/job/wanted_full.html">unpublished</a>
                                </div>
                                <div>
                                    <a href="">any</a>
                                    2023-10-10 10:10                                
                                </div>
                            </div>
                            <%
                        }
                    }
                %>
            </div>
        </fieldset>
        <fieldset>
            <legend><a href="/job/wanted_part.html">Part</a></legend>
            <div>
                <%
                    k = trading_buys.length;
                    for(let i=0;i<5;i++){
                        if(i < k){
                            %>
                            <div>
                                <div>
                                    <a target="_blank" href="/job/wanted_part.html?id=<%=trading_buys[i].id%>"><%=trading_buys[i].title%></a>
                                </div>
                                <div>
                                    <a href=""><%="user"%></a>
                                    2023-10-10 10:10                                
                                </div>
                            </div>
                            <%
                        }else{
                            %>
                            <div>
                                <div>
                                    <a target="_blank" href="/job/wanted_part.html">unpublished</a>
                                </div>
                                <div>
                                    <a href="">any</a>
                                    2023-10-10 10:10                                
                                </div>
                            </div>
                            <%
                        }
                    }
                %>
            </div>
        </fieldset>
    </div>
</fieldset>
