<form id="form" class="list_form" onsubmit="return false;">
    <input type="hidden" name="test">
    <input type="hidden" id="id" name="id" value="<%=region_id%>">
    <input type="hidden" name="page" value="1">
    <input type="hidden" name="search">
    <div class="paging">
        <% 
            if(paging){ 
                if(paging.first){ 
        %>
            <a href="#" onclick="turning_page(1, $.id('list_box'), '/trading/buy/region/list');" locale="first">First</a>
            <% 
                } 
                if(paging.pages){ 
                    paging.pages.forEach(item=> {
            %>
                <a href="#" onclick="turning_page(<%=item%>, $.id('list_box'), '/trading/buy/region/list');"><%=item%></a>
            <% 
                }); 
            } 
                if(paging.last){ %>
                    <a href="#" onclick="turning_page(<%=paging.last%>, $.id('list_box'), '/trading/buy/region/list');" locale="last">Last</a>
        <% 
                } 
            } 
        %>
    </div>
    <div class="list_group">
        <% 
        if(0 < tradings.length){ 
            let i = 0;
            tradings.forEach(item=> {
        %>
            <div class="list_item">
                <div class="item_left">
                    <a href="/trading/trading_buy.html?id=<%=item.id%>"><%=item.title%></a>
                </div>
                <div>
                    <input type="hidden" id="time<%=i%>" value="<%=item.create_time%>">
                    <input disabled class="list_time" type="text" id="time_title<%=i%>" value="">
                </div>
            </div>
        <% 
            i++;
            }); 
        }else{ 
            %>
                <div class="list_item">
                    <div>
                        <a href="/trading/trading_buy.html">unpublished</a>
                    </div>
                    <div>
                        2023-10-10 10:10
                    </div>
                </div>
            <% 
        } 
        %>


    </div>
    <div class="paging">
        <% 
            if(paging){ 
                if(paging.first){ 
        %>
            <a href="#" onclick="turning_page(1, $.id('list_box'), '/trading/buy/region/list');" locale="first">First</a>
            <% 
                } 
                if(paging.pages){ 
                    paging.pages.forEach(item=> {
            %>
                <a href="#" onclick="turning_page(<%=item%>, $.id('list_box'), '/trading/buy/region/list');"><%=item%></a>
            <% 
                }); 
            } 
                if(paging.last){ %>
                    <a href="#" onclick="turning_page(<%=paging.last%>, $.id('list_box'), '/trading/buy/region/list');" locale="last">Last</a>
        <% 
                } 
            } 
        %>
    </div>               
</form>