<fieldset>
    <legend><a href="/notice/index.html">Notice</a></legend>
    <div class="notice">
        <%
            let i = 0;
            let k = notices.length;
            for(let m=0;m<3;m++){
                %>
                <div>
                <%
                    for(let n=0;n<3;n++){
                        if(i < k){
                            %>
                                <div>
                                    <a target="_blank" onclick="hit('nid', <%=notices[i].id%>)" href="/notice/notice.html"><%=notices[i].title%></a>
                                </div>
                            <%
                        }else{
                            %>
                                <div>
                                    <a target="_blank" href="/notice/notice.html">unpublished</a>
                                </div>
                            <%
                        }
                        i++;
                    }
                %>
                </div>
                <%
            }
        %>
    </div>
</fieldset>

<fieldset>
    <legend><a href="/region/index.html">Region</a></legend>
    <div id="region_box" class="region">
        <a href="">City</a>
        <a href="">City</a>
        <a href="">City</a>
        <a href="">City</a>
        <a href="">City</a>
        <a href="">City</a>
        <a href="">City</a>
        <a href="">City</a>
        <a href="">City</a>
        <a href="">City</a>
        <a href="">City</a>
        <a href="">City</a>
        <a href="">City</a>
        <a href="">City</a>
        <a href="">City</a>
        <a href="">City</a>
        <a href="">City</a>
        <a href="">City</a>
        <a href="">City</a>
        <a href="">City</a>
    </div>
</fieldset>

<fieldset class="title">
    <legend><a href="/house/index.html">House</a></legend>
    <div class="channel">
        <fieldset>
            <legend><a href="/house/rent.html">Rent</a></legend>
            <div>
                <%
                    k = house_rents.length;
                    for(let i=0;i<5;i++){
                        if(i < k){
                            %>
                            <div>
                                <div>
                                    <a target="_blank" href="/house/house_rent.html?id=<%=house_rents[i].id%>"><%=house_rents[i].title%></a>
                                </div>
                                <div>
                                    <a href=""><%="user"%></a>
                                    2023-10-10 10:10                                
                                </div>
                            </div>
                            <%
                        }else{
                            %>
                            <div>
                                <div>
                                    <a target="_blank" href="/house/house_rent.html">unpublished</a>
                                </div>
                                <div>
                                    <a href="">any</a>
                                    2023-10-10 10:10                                
                                </div>
                            </div>
                            <%
                        }
                    }
                %>
            </div>
        </fieldset>
        <fieldset>
            <legend><a href="/house/wanted.html">Wanted</a></legend>
            <div>
                <%
                    k = house_wanteds.length;
                    for(let i=0;i<5;i++){
                        if(i < k){
                            %>
                            <div>
                                <div>
                                    <a target="_blank" href="/house/house_wanted.html?id=<%=house_wanteds[i].id%>"><%=house_wanteds[i].title%></a>
                                </div>
                                <div>
                                    <a href=""><%="user"%></a>
                                    2023-10-10 10:10                                
                                </div>
                            </div>
                            <%
                        }else{
                            %>
                            <div>
                                <div>
                                    <a target="_blank" href="/house/house_wanted.html">unpublished</a>
                                </div>
                                <div>
                                    <a href="">any</a>
                                    2023-10-10 10:10                                
                                </div>
                            </div>
                            <%
                        }
                    }
                %>
            </div>
        </fieldset>
    </div>
</fieldset>

<fieldset class="title">
    <legend><a href="/job/index.html">Job</a></legend>
    <div class="channel">
        <fieldset>
            <legend><a href="/job/recruit.html">Recruit</a></legend>
            <div>
                <%
                    k = job_recruits.length;
                    for(let i=0;i<5;i++){
                        if(i < k){
                            %>
                            <div>
                                <div>
                                    <a target="_blank" href="/job/job_recruit.html?id=<%=job_recruits[i].id%>"><%=job_recruits[i].title%></a>
                                </div>
                                <div>
                                    <a href=""><%="user"%></a>
                                    2023-10-10 10:10                                
                                </div>
                            </div>
                            <%
                        }else{
                            %>
                            <div>
                                <div>
                                    <a target="_blank" href="/job/job_recruit.html">unpublished</a>
                                </div>
                                <div>
                                    <a href="">any</a>
                                    2023-10-10 10:10                                
                                </div>
                            </div>
                            <%
                        }
                    }
                %>
            </div>
        </fieldset>
        <fieldset>
            <legend><a href="/job/wanted.html">Wanted</a></legend>
            <div>
                <%
                    k = job_wanteds.length;
                    for(let i=0;i<5;i++){
                        if(i < k){
                            %>
                            <div>
                                <div>
                                    <a target="_blank" href="/job/job_wanted.html?id=<%=job_wanteds[i].id%>"><%=job_wanteds[i].title%></a>
                                </div>
                                <div>
                                    <a href=""><%="user"%></a>
                                    2023-10-10 10:10                                
                                </div>
                            </div>
                            <%
                        }else{
                            %>
                            <div>
                                <div>
                                    <a target="_blank" href="/job/job_wanted.html">unpublished</a>
                                </div>
                                <div>
                                    <a href="">any</a>
                                    2023-10-10 10:10                                
                                </div>
                            </div>
                            <%
                        }
                    }
                %>
            </div>
        </fieldset>
    </div>
</fieldset>

<fieldset class="title">
    <legend><a href="/trading/index.html">Trading</a></legend>
    <div class="channel">
        <fieldset>
            <legend><a href="/trading/sell.html">Sell</a></legend>
            <div>
                <%
                    k = trading_sells.length;
                    for(let i=0;i<5;i++){
                        if(i < k){
                            %>
                            <div>
                                <div>
                                    <a target="_blank" href="/trading/trading_sell.html?id=<%=trading_sells[i].id%>"><%=trading_sells[i].title%></a>
                                </div>
                                <div>
                                    <a href=""><%="user"%></a>
                                    2023-10-10 10:10                                
                                </div>
                            </div>
                            <%
                        }else{
                            %>
                            <div>
                                <div>
                                    <a target="_blank" href="/trading/trading_sell.html">unpublished</a>
                                </div>
                                <div>
                                    <a href="">any</a>
                                    2023-10-10 10:10                                
                                </div>
                            </div>
                            <%
                        }
                    }
                %>
            </div>
        </fieldset>
        <fieldset>
            <legend><a href="/trading/buy.html">Buy</a></legend>
            <div>
                <%
                    k = trading_buys.length;
                    for(let i=0;i<5;i++){
                        if(i < k){
                            %>
                            <div>
                                <div>
                                    <a target="_blank" href="/trading/trading_buy.html?id=<%=trading_buys[i].id%>"><%=trading_buys[i].title%></a>
                                </div>
                                <div>
                                    <a href=""><%="user"%></a>
                                    2023-10-10 10:10                                
                                </div>
                            </div>
                            <%
                        }else{
                            %>
                            <div>
                                <div>
                                    <a target="_blank" href="/trading/trading_buy.html">unpublished</a>
                                </div>
                                <div>
                                    <a href="">any</a>
                                    2023-10-10 10:10                                
                                </div>
                            </div>
                            <%
                        }
                    }
                %>
            </div>
        </fieldset>
    </div>
</fieldset>

<fieldset class="title">
    <legend><a href="/exchange/index.html">Exchange</a></legend>
    <div class="channel">
        <fieldset>
            <div>
                <%
                    k = exchanges.length;
                    for(let i=0;i<5;i++){
                        let m = i * 2;
                        if(m < k){
                            %>
                            <div>
                                <div>
                                    <a target="_blank" href="/exchange/exchange.html?id=<%=exchanges[m].id%>"><%=exchanges[m].title%></a>
                                </div>
                                <div>
                                    <a href=""><%="user"%></a>
                                    2023-10-10 10:10                                
                                </div>
                            </div>
                            <%
                        }else{
                            %>
                            <div>
                                <div>
                                    <a target="_blank" href="/exchange/exchange.html">unpublished</a>
                                </div>
                                <div>
                                    <a href="">any</a>
                                    2023-10-10 10:10                                
                                </div>
                            </div>
                            <%
                        }
                    }
                %>
            </div>
        </fieldset>
        <fieldset>
            <div>
                <%
                    k = exchanges.length;
                    for(let i=0;i<5;i++){
                        let m = (i * 2) + 1;
                        if(m < k){
                            %>
                            <div>
                                <div>
                                    <a target="_blank" href="/exchange/exchange.html?id=<%=exchanges[m].id%>"><%=exchanges[m].title%></a>
                                </div>
                                <div>
                                    <a href=""><%="user"%></a>
                                    2023-10-10 10:10                                
                                </div>
                            </div>
                            <%
                        }else{
                            %>
                            <div>
                                <div>
                                    <a target="_blank" href="/exchange/exchange.html">unpublished</a>
                                </div>
                                <div>
                                    <a href="">any</a>
                                    2023-10-10 10:10                                
                                </div>
                            </div>
                            <%
                        }
                    }
                %>
            </div>
        </fieldset>
    </div>
</fieldset>