<div>
    Hello
</div>
<div>
    <div>
        <div>
            <label>Username:</label>
            <input disabled type="text" value="<%=profile.username%>">
        </div>
    </div>
</div>
<div>
    <div>
        <div>
            <label>Password:</label>
        </div>
    </div>
</div>
<div>
    <div>
        <div>
            <label>Email:</label>
            <input disabled type="text" value="<%=profile.email%>">
        </div>
    </div>
</div>
<div>
    <div>
        <div>
            <label>Create Time:</label>
            <input disabled type="text" id="create_time_title" value="">
            <input type="hidden" id="create_time" value="<%=profile.create_time%>">
        </div>
    </div>
</div>
<div>
    <div>
        <div>
            <label>Modify Time:</label>
            <input disabled type="text" id="modify_time_title" value="">
            <input type="hidden" id="modify_time" value="<%=profile.modify_time%>">
        </div>
    </div>
</div>
<div>
    <div>
        <div>
            <label>Nickname:</label>
            <input disabled type="text" value="<%=profile.nickname%>">
        </div>
    </div>
</div>
<form id="form" onsubmit="return false;">
<input type="hidden" name="test">
<div>
    <div>
        <div>
            <label>Nationality:</label>
        </div>
    </div>
    <div>
        <div>
            <dl>
                <dd>
                    <div class="country">
                        <label>Continent:</label>
                        <select style="display:block;width: 150px;" id="continent" name="continent" onchange="continent_change(this, 'country');">

                        </select>
                    </div>
                    
                    <div class="country">
                        <label>Country:</label>
                        <select style="display:block;width: 150px;" id="country" name="country">
                            
                        </select>
                    </div>
                </dd>
            </dl>
        </div>
    </div>
</div>
<div>
    <div>
        <div>
            <label>Gender:</label>
            <select name="gender">
                <option value="0">unset</option>
                <option value="1">male</option>
                <option value="2">female</option>
            </select>
        </div>
    </div>
</div>
<div>
    <div>
        <div>
            <label>Birth:</label>
            <select style="width:70px;" id="year" name="year">
                <option>2023</option>
            </select>
            <select style="width:50px; margin-left: 20px;" id="month" name="month">
                <option>1</option>
            </select>
            <select style="width:50px; margin-left: 20px;" id="day" name="day">
                <option>1</option>
            </select>
        </div>

    </div>
</div>
<div>
    <div>
        <div>
            <label>Intro:</label>
        </div>
    </div>
</div>
<div>
    <div>
        <div>
            <textarea name="intro" rows="10" cols="80"></textarea>
        </div>
    </div>
</div>
<div>
    <button id="submit">Save</button>
</div>
</form>