<fieldset>
    <legend><a href="/house/rent_long_city.html?id=<%=city_id%>">Long</a></legend>
    <div class="channel_box">
        <%
            let k = house_longs.length;
            for(let i=0;i<10;i++){
                if(i < k){
                    %>
                    <div class="channel_item">
                        <div class="left">
                            <a target="_blank" href="/house/house_rent.html?id=<%=house_longs[i].id%>"><%=house_longs[i].title%></a>
                        </div>
                        <div class="right">
                            <a href="/person/person.html"><%=house_longs[i].nickname%></a>
                            <div class="time" id="house_longs_time<%=i%>"></div>
                            <input type="hidden" id="house_longs<%=i%>" value="<%=house_longs[i].create_time%>">                                                          
                        </div>
                    </div>
                    <%
                }else{
                    %>
                    <div class="channel_item">
                        <div>
                            <a target="_blank" href="/house/house_rent.html">unpublished</a>
                        </div>
                        <div>
                            <a href="">any</a>
                            2023-10-10 10:10                                
                        </div>
                    </div>
                    <%
                }
            }
        %>
    </div>
</fieldset>

<fieldset>
    <legend><a href="/house/rent_short_city.html?id=<%=city_id%>">Short</a></legend>
    <div class="channel_box">
        <%
            k = house_shorts.length;
            for(let i=0;i<10;i++){
                if(i < k){
                    %>
                    <div class="channel_item">
                        <div class="left">
                            <a target="_blank" href="/house/house_rent.html?id=<%=house_shorts[i].id%>"><%=house_shorts[i].title%></a>
                        </div>
                        <div class="right">
                            <a href="/person/person.html"><%=house_shorts[i].nickname%></a>
                            <div class="time" id="house_shorts_time<%=i%>"></div>
                            <input type="hidden" id="house_shorts<%=i%>" value="<%=house_shorts[i].create_time%>">                                                          
                        </div>
                    </div>
                    <%
                }else{
                    %>
                    <div class="channel_item">
                        <div>
                            <a target="_blank" href="/house/house_rent.html">unpublished</a>
                        </div>
                        <div>
                            <a href="">any</a>
                            2023-10-10 10:10                                
                        </div>
                    </div>
                    <%
                }
            }
        %>
    </div>
</fieldset>