<form id="form">
    <div class="search_box">
        <input type="hidden" name="test">
        <input type="text" name="search">
        <button class="search_button">Search</button>
    </div>
    <div>
        <div class="paging_top_box">
            <div class="paging">
                <% 
                if(paging){ 
                    if(paging.first){ 
                %>
                    <a href="#" onclick="turning(1, $.id('list_box'), '/content/exchange/list');">First</a>
                    <% 
                        } 
                        if(paging.pages){ 
                            paging.pages.forEach(item=> {
                    %>
                        <a href="#" onclick="turning(<%=item%>, $.id('list_box'), '/content/exchange/list');"><%=item%></a>
                    <% 
                        }); 
                    } 
                        if(paging.last){ %>
                            <a href="#" onclick="turning(<%=paging.last%>, $.id('list_box'), '/content/exchange/list');">Last</a>
                <% 
                        } 
                    } 
                %>
            </div>
        </div>
        <div class="item_box">
 
                <% 
                if(0 < jobs.length){ 
                    jobs.forEach(item=> {
                %>
                    <div class="item">
                        <div>
                            <a onclick="hit('wid', <%=item.id%>);" href="/content/exchange.html"><%=item.title%></a>
                        </div>
                        <div>
                            2023-10-10 10:10
                        </div>
                    </div>
                <% 
                    }); 
                }else{ 
                    %>
                        <div class="item">
                            <div>
                                <a href="/content/exchange.html">unpublished</a>
                            </div>
                            <div>
                                2023-10-10 10:10
                            </div>
                        </div>
                    <% 
                } 
                %>
 
        </div>
        <div class="paging_bottom_box">
            <div class="paging">
                <% 
                if(paging){ 
                    if(paging.first){ 
                %>
                    <a href="#" onclick="turning(1, $.id('list_box'), '/content/exchange/list');">First</a>
                    <% 
                        } 
                        if(paging.pages){ 
                            paging.pages.forEach(item=> {
                    %>
                        <a href="#" onclick="turning(<%=item%>, $.id('list_box'), '/content/exchange/list');"><%=item%></a>
                    <% 
                        }); 
                    } 
                        if(paging.last){ %>
                            <a href="#" onclick="turning(<%=paging.last%>, $.id('list_box'), '/content/exchange/list');">Last</a>
                <% 
                        } 
                    } 
                %>
            </div>
        </div>
    </div>
</form>